<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ overview.org }} productivity leaderboard</title>
  {% include "org_dashboard/_theme_bootstrap.js.j2" %}
  {% include "org_dashboard/_styles.css.j2" %}
</head>
<body>
  {% include "org_dashboard/_body.html.j2" %}
  {% include "org_dashboard/_app.js.j2" %}
</body>
</html>
